@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

main{
    font-family: "Poppins", sans-serif;
    position: relative;
}

.circle{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 5px solid #829DF5;
    color: #D8D5F5;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.circle::before{
    content: '';
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 180px;
    height: 180px;
    left: calc(50% - 90px);
    top: calc(50% - 90px);
    background-color: #1F90ED;
}

.seconds-sphere{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#D8D5F5;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: rotation 60s linear infinite;
    animation-play-state: paused;
}

@keyframes rotation{
    from{transform: rotate(-90deg) translateX(60px);}
    to {transform: rotate(270deg) translateX(60px);}
}

.buttons{
    margin-top: 10px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

.paused{
    height: 10px;
    border-width: 5px 0px 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent #D8D5F5;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}

.running{
    border-style: double;
    border-width: 0 0 0 10px;
}

.stop{
    background-color: #D8D5F5;
    height: 10px;
    width: 10px;
    cursor: pointer;
}
